<div class="detalle-main-container">
  <mat-tab-group class="tab-group">
    <!-- Historial de Gastos -->
    <mat-tab label="Historial de Gastos">
      <div class="tab-item">
        <div class="detalle-tarjeta">
          <shared-custom-tarjeta
            [tarjeta]="dataTarjeta"
            [menu]="false"
          ></shared-custom-tarjeta>
        </div>

        <div class="transaccion-list">
          <div
            *ngIf="dataTransacciones.length === 0"
            class="no-transaccion-data"
          >
            <div class="text-no-data">No hay transacciones registradas</div>
            <shared-default-button
              [defaultButton]="false"
              text="Registrar transaccion"
              routerLink="/transaccion/registrar"
            ></shared-default-button>
          </div>

          <ng-container *ngFor="let transaccion of dataTransacciones">
            <shared-list-item [transaccion]="transaccion"></shared-list-item>
          </ng-container>
        </div>

        <button
          mat-fab
          color="primary"
          class="fab-icon"
          (click)="descargarTransacciones()"
        >
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </mat-tab>

    <!-- Beneficio Acumulados -->
    <mat-tab label="Beneficios Acumulados" class="tab-item">
      <div class="tab-item">
        <div class="detalle-tarjeta">
          <shared-custom-tarjeta
            [tarjeta]="dataTarjetaBeneficios"
            [menu]="false"
          ></shared-custom-tarjeta>
        </div>

        <div class="transaccion-list">
          <div *ngIf="dataBeneficios.length === 0" class="no-transaccion-data">
            <div class="text-no-data">No existe un beneficio registrado</div>
            <shared-default-button
              [defaultButton]="false"
              text="Registrar Beneficio"
              routerLink="/beneficio/registrar/{{ dataTarjeta.PK_tarjeta }}"
            ></shared-default-button>
          </div>

          <ng-container *ngFor="let beneficio of dataBeneficios">
            <shared-list-item [transaccion]="beneficio"></shared-list-item>
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
