<div class="detalle-main-container">
  <!-- <app-header titulo="" [back]="true" path="/tarjeta"></app-header> -->

  <mat-tab-group class="tab-group">
    <mat-tab label="Historial de Gastos">
      <div class="tab-item">
        <div class="detalle-tarjeta">
          <shared-custom-tarjeta
            [tarjeta]="dataTarjeta"
            [menu]="false"
          ></shared-custom-tarjeta>
        </div>

        <div class="transaccion-list">
          <div
            *ngIf="dataTransacciones.length === 0"
            class="no-transaccion-data"
          >
            <div class="text-no-data">No hay transacciones registradas</div>
            <shared-default-button
              [defaultButton]="false"
              text="Registrar transaccion"
              routerLink="/transaccion/registrar"
            ></shared-default-button>
          </div>

          <ng-container *ngFor="let transaccion of dataTransacciones">
            <shared-list-item [transaccion]="transaccion"></shared-list-item>
          </ng-container>
        </div>

        <button
          mat-fab
          color="primary"
          class="fab-icon"
          (click)="descargarTransacciones()"
        >
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Beneficios Acumulados" class="tab-item"></mat-tab>
  </mat-tab-group>
</div>
