<shared-loading-screen *ngIf="loading"></shared-loading-screen>

<div class="editar-contrasena-main-container">
  <app-header
    titulo="Cambiar Contraseña"
    [back]="true"
    path="/perfil"
  ></app-header>

  <div class="form-container">
    <form [formGroup]="contrasenaForm">
      <mat-form-field
        class="full-width"
        [ngClass]="{ marginBottom: validarCampoFormulario('var_contrasena') }"
      >
        <mat-label>Contraseña Actual</mat-label>
        <input
          matInput
          formControlName="var_contrasena"
          [type]="ocultarActual ? 'password' : 'text'"
        />
        <mat-icon
          matSuffix
          color="primary"
          (click)="ocultarActual = !ocultarActual"
        >
          {{ ocultarActual ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error>{{
          obtenerErrorCampoFormulario("var_contrasena")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        [ngClass]="{
          marginBottom: validarCampoFormulario('var_contrasena_nueva')
        }"
      >
        <mat-label>Nueva Contraseña</mat-label>
        <input
          matInput
          formControlName="var_contrasena_nueva"
          [type]="ocultarNueva ? 'password' : 'text'"
        />
        <mat-icon
          matSuffix
          color="primary"
          (click)="ocultarNueva = !ocultarNueva"
        >
          {{ ocultarNueva ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error>{{
          obtenerErrorCampoFormulario("var_contrasena_nueva")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirmar Nueva Contraseña</mat-label>
        <input
          matInput
          formControlName="var_confirmar_nueva"
          [type]="ocultarNueva ? 'password' : 'text'"
        />
        <mat-icon
          matSuffix
          color="primary"
          (click)="ocultarNueva = !ocultarNueva"
        >
          {{ ocultarNueva ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error>{{
          obtenerErrorCampoFormulario("var_confirmar_nueva")
        }}</mat-error>
      </mat-form-field>
    </form>

    <shared-default-button
      text="Actualizar Contraseña"
      [defaultButton]="true"
      (onClick)="onSubmit()"
    ></shared-default-button>
  </div>
</div>
