.contenedor-formulario {
  padding: 32px 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: var(--main-blue-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.terms {
  font-weight: 500;
  text-decoration-line: underline;
}

.boton-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.last-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.last-text {
  color: var(--main-blue-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-text {
  color: var(--main-blue-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
