<div class="transaccion-form-container">
  <shared-loading-screen *ngIf="loading"></shared-loading-screen>

  <form [formGroup]="transaccionForm">
    <div
      class="radio-group-container"
      [ngClass]="{
        marginBottom: validarCamposFormulario('var_tipo')
      }"
    >
      <label id="radio-group" class="sub-title-form">Tipo de transacción</label>
      <mat-radio-group
        aria-labelledby="radio-group"
        color="primary"
        formControlName="var_tipo"
        class="radio-group-item"
      >
        <mat-radio-button
          *ngFor="let transaccion of tipoTransacciones"
          [value]="transaccion.nombre"
          [disabled]="tipoAccion === 'editar'"
        >
          {{ transaccion.nombre }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="validarCamposFormulario('var_tipo')">
        Seleccione un tipo
      </mat-error>
    </div>

    <div>
      <div class="sub-title-form">Monto de la Transacción</div>

      <div
        class="input-two-container"
        [ngClass]="{
          marginBottom:
            validarCamposFormulario('FK_transaccion_moneda') ||
            validarCamposFormulario('num_monto')
        }"
      >
        <mat-form-field class="full-width">
          <mat-label>Monto</mat-label>
          <input matInput type="number" formControlName="num_monto" />
          <mat-error>Ingrese un monto</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Moneda</mat-label>
          <mat-select formControlName="FK_transaccion_moneda">
            <mat-option
              *ngFor="let entidad of dataDropdownMonedas"
              [value]="entidad.ID"
            >
              {{ entidad.var_nombre }}
            </mat-option>
          </mat-select>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div>
      <div class="sub-title-form">Tarjeta asociada a la Transacción</div>

      <mat-form-field
        class="full-width"
        [ngClass]="{
          marginBottom: validarCamposFormulario('FK_transaccion_tarjeta')
        }"
      >
        <mat-label>Tarjeta asociada</mat-label>
        <mat-select formControlName="FK_transaccion_tarjeta">
          <mat-option
            *ngFor="let entidad of dataDropdownTarjetas"
            [value]="entidad.ID"
          >
            {{ entidad.var_nombre }}
          </mat-option>
        </mat-select>
        <mat-error>Seleccione una tarjeta</mat-error>
      </mat-form-field>
    </div>

    <div>
      <div class="sub-title-form">Detalles</div>

      <mat-form-field
        class="full-width"
        [ngClass]="{
          marginBottom: validarCamposFormulario('var_nombre')
        }"
      >
        <mat-label>Nombre de la transacción</mat-label>
        <input matInput type="text" formControlName="var_nombre" />
        <mat-error>Ingrese un nombre</mat-error>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        [ngClass]="{
          marginBottom: validarCamposFormulario('dte_fecha')
        }"
      >
        <mat-label>Fecha de la transacción</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dte_fecha" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Seleccione una fecha</mat-error>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        [ngClass]="{
          marginBottom: validarCamposFormulario('FK_transaccion_categoria')
        }"
      >
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="FK_transaccion_categoria">
          <mat-option
            *ngFor="let entidad of dataDropdownCategorias"
            [value]="entidad.ID"
          >
            {{ entidad.var_nombre }}
          </mat-option>
        </mat-select>
        <mat-error>Seleccione una categoría</mat-error>
      </mat-form-field>

      <mat-form-field
        class="full-width"
        [ngClass]="{
          marginBottom: validarCamposFormulario('num_cuotas')
        }"
        *ngIf="transaccionForm.get('var_tipo')?.value === 'Cuotas'"
      >
        <mat-label>Cuotas</mat-label>
        <input matInput type="number" formControlName="num_cuotas" />
        <mat-error>Ingrese las cuotas</mat-error>
      </mat-form-field>
    </div>

    <section>
      <div class="checkbox-container">
        <mat-checkbox
          color="primary"
          formControlName="bool_recurrente"
        ></mat-checkbox>
        <div class="checkbox">Guardar transacción como recurrente</div>
      </div>
    </section>
  </form>

  <shared-default-button
    text="{{ tipoAccion == 'editar' ? 'Actualizar' : 'Registrar' }} Transacción"
    [defaultButton]="true"
    (onClick)="onSubmit()"
  ></shared-default-button>
</div>
