<div class="transaccion-main-container">
  <app-header titulo="Transacciones" [back]="false"></app-header>

  <div class="contenido">
    <shared-default-button
      text="Registrar Transacción"
      [defaultButton]="false"
      routerLink="/transaccion/registrar"
    ></shared-default-button>

    <mat-accordion [multi]="true">
      <!-- Transacciones Recurrentes -->
      <mat-expansion-panel
        class="accordion-panel"
        [expanded]="dataRecurrentes.length > 0"
      >
        <mat-expansion-panel-header
          [collapsedHeight]="'56px'"
          [expandedHeight]="'56px'"
        >
          <mat-panel-title class="accordion-header">
            Recurrentes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="transaccion-list">
          <ng-container *ngFor="let transaccion of dataRecurrentes">
            <shared-list-add-item
              [transaccion]="transaccion"
            ></shared-list-add-item>
          </ng-container>
        </div>
      </mat-expansion-panel>

      <!-- Transacciones Generales -->
      <mat-expansion-panel
        class="accordion-panel"
        [expanded]="dataTransacciones.length > 0"
      >
        <mat-expansion-panel-header
          [collapsedHeight]="'56px'"
          [expandedHeight]="'56px'"
        >
          <mat-panel-title class="accordion-header">
            Gastos Totales
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="transaccion-list">
          <ng-container *ngFor="let transaccion of dataTransacciones">
            <shared-list-item [transaccion]="transaccion"></shared-list-item>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
