<div class="tarjeta-main-container">
  <div class="tarjeta-header">
    <div class="helper-header"></div>
    <div class="tarjeta-header-title">Tus Tarjetas</div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item (click)="descargarExcelTransacciones()">
          <mat-icon svgIcon="icon_excel"></mat-icon>
          <span>Descargar Historial</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="contenido">
    <div *ngFor="let tarjeta of dataTarjetas">
      <shared-custom-tarjeta
        [tarjeta]="tarjeta"
        [menu]="true"
      ></shared-custom-tarjeta>
    </div>

    <ng-container *ngIf="dataTarjetas.length < 5">
      <shared-default-button
        text="Agregar Tarjeta"
        [defaultButton]="false"
        routerLink="/tarjeta/registrar"
      ></shared-default-button>
    </ng-container>
  </div>
</div>
