// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// $mat-light-palette: (
//   50: "#ebf0ff",
//   100: "#dae4ff",
//   200: "#bccbff",
//   300: "#93a8ff",
//   400: "#6979ff",
//   500: "#464bff",
//   600: "#3126ff",
//   700: "#291ae8",
//   800: "#2119ba",
//   900: "#211d92",
//   950: "#100d40",
//   contrast: (
//     50: black,
//     100: black,
//     200: black,
//     300: black,
//     400: black,
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//     950: white,
//   ),
// );

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50: #e2e2e8,
  100: #b7b6c6,
  200: #8886a0,
  300: #585679,
  400: #34315d,
  500: #100d40,
  600: #0e0b3a,
  700: #0c0932,
  800: #09072a,
  900: #05031c,
  A100: #665aff,
  A200: #3727ff,
  A400: #1200f3,
  A700: #1000da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// $mat-dark-palette: (
//   50: "#1c1c1c",
//   100: "#1c1c1c",
//   200: "#1c1c1c",
//   300: "#1c1c1c",
//   400: "#1c1c1c",
//   500: "#1c1c1c",
//   600: "#1c1c1c",
//   700: "#1c1c1c",
//   800: "#1c1c1c",
//   900: "#1c1c1c",
//   950: "#1c1c1c",
//   contrast: (
//     50: $light-primary-text,
//     100: $light-primary-text,
//     200: $light-primary-text,
//     300: $light-primary-text,
//     400: $light-primary-text,
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//     950: white,
//   ),
// );

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $Monefi-Frontend-Grupo1-primary: mat.define-palette(mat.$indigo-palette);
// $Monefi-Frontend-Grupo1-accent: mat.define-palette(
//   mat.$pink-palette,
//   A200,
//   A100,
//   A400
// );

// The warn palette is optional (defaults to red).
// $Monefi-Frontend-Grupo1-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $Monefi-Frontend-Grupo1-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $Monefi-Frontend-Grupo1-primary,
//       accent: $Monefi-Frontend-Grupo1-accent,
//       warn: $Monefi-Frontend-Grupo1-warn,
//     ),
//     typography: mat.define-typography-config(),
//     density: 0,
//   )
// );
$Monefi-Frontend-Grupo1-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($md-mcgpalette0, 500),
      accent: mat.define-palette($md-mcgpalette0, 200),
    ),
    typography:
      mat.define-typography-config(
        $font-family: "Poppins",
      ),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Monefi-Frontend-Grupo1-theme);
